header.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f98328;
  z-index: 10;
  padding: 10px 20px;
}
.nav-link {
  color: #ffffff !important;
}
img {
  height: 50px;
  border-radius: 35px;
}

.banner {
  width: 100%;
  height: 350px;
  background-image: url('https://gcs.tripi.vn/public-tripi/tripi-feed/img/474102pAq/anh-background-mau-vang-cam_052540527.jpg');
  margin-top: 50px;
}
.banner .text {
  padding-top: 100px;
  text-align: center;
}
.text h1 {
  font-size: 100px;
  color: #ffffff;
}
h4 {
  color: #ffffff;
}
.search-header{
  margin-top: 50px;
  margin-left: 70%;
}
.box1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.icon{
    font-size: 25px;
    margin-left: 50%;
    display: flex;
    cursor: pointer;
}
.icon i{
    margin-left: 15px;
}
.box2{
    width: 25rem;
    height: 5px;
    background-color: #f98328;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 250px;
}









.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  width: 200px;
  margin-bottom: 20px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column span {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
  cursor: pointer;
}

.footer-column span:hover {
  color: #fff;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 150px;
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search button {
  padding: 5px 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.logo {
  text-align: center;
  margin-top: 30px;
}

.logo span {
  display: block;
  margin-bottom: 10px;
}

.logo-container {
  margin-top: 20px;
}

.logo-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;

  transition: transform 0.3s ease-in-out;
}

.logo-container img:hover {
  transform: scale(1.2);
}
